.wordle {
  background-color: black;
  height: 1vh;
}

.wordle:focus {
  outline: none;
}

.wrong-word {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--black-light);
}

.wrong-word-text {
  color: var(--text-color);
  font-size: 20px;
  font: bold;
}
