.grid-container {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.grid-line {
  display: flex;
  justify-content: center;
}

.letter-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0.2rem;
  color: var(--text-color);
  font-size: 28px;
}

.letter-next {
  border: 3px solid var(--letter-next);
}

.letter-any {
  border: 3px solid var(--grid-none);
}

.letter-none {
  border: 3px solid var(--grid-no-letter);
}

.letter-ko-grid {
  background-color: var(--letter-ko-bg);
  border: 3px solid var(--letter-ko-bg);
}

.letter-ok-grid {
  background-color: var(--letter-ok);
  border: 3px solid var(--letter-ok);
}

.letter-almost-grid {
  background-color: var(--letter-almost);
  border: 3px solid var(--letter-almost);
}
